/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Header styling */
header {
    width: 100%;
    background-color: #4b19a2;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Main section styling */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

/* Container for text input and result */
.input-container,
.result-container {
    width: 80%;
    max-width: 600px;
    margin: 10px 0;
}

/* Text input styling */
textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    resize: none;
}

/* Result styling */
.qr-container {
    width: 100%;
    max-width: 100%;
    height: auto;
    text-align: center;
}



.error {
    width: 100%;
    background-color: rgb(255, 140, 140);
    border: 2px solid red;
    border-radius: 10px;
    padding: 5px;
}

/* Button styling */
button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #3700b3;
}